# Ignora arquivos de configuração do sistema
.vscode/
.DS_Store
Thumbs.db

# Ignora o diretório vendor gerado pelo Composer
vendor/

# Ignora os arquivos de log gerados pela execução da aplicação
logs/
*.log

# Ignora o diretório de build
build/

# Ignora arquivos temporários
*.swp

coverage/*

# Ignora arquivos de configuração do ambiente
.env
.env.local
.env.*.local
.phpunit.result.cache
# Ignora o diretório de instalação do Composer
vendor/

# Ignora arquivos gerados automaticamente
*.meta